body {
  user-select: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-gap: 1vw;
}

.list-group li:nth-child(1) {
  background: lightgray;
}

.form-error {
  border: solid 2px #faaa40;
}

.btn__login:hover {
  color: #faaa40;
  font-size: 1.4em;
}

.loginpage.login-fade {
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 0;
  transition: 0.6s;
}

.filters {
  border: solid 2px grey;
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  margin: 10px 0;
  padding: 10px;
}

.cart-icon-animation {
  color: #faaa40;
  font-size: 1.4em;
  transition: 0.3s;
}

.carousel-caption {
  opacity: 0.7;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}

.type-info {
  position: relative;
}

.type-info div {
  position: absolute;
  opacity: 0;
  left: 15%;
  top: 15%;
}

.type-info:hover div {
  opacity: 1;
  transform: translate(5px, 5px);
  transition: 0.8s;
}

.type-info:hover img {
  filter: blur(2px);
  opacity: 0.3;
  transition: 0.5s;
}
